<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="banking.dao.BankingDAO">

	<resultMap type="transactionVO" id="transactionMap">
		<result column="trans_date" property="transDate" />
		<result column="trans_class" property="transClass" />
		<result column="opp_acc_no" property="oppAccNo" />
		<result column="acc_no" property="accNo" />
	</resultMap>
	
	<resultMap type="autoDebitVO" id="autoDebitMap">
		<result column="acc_no" property="accNo" />
		<result column="set_money" property="setMoney" />
		<result column="start_date" property="startDate" />
	</resultMap>
	
	<select id="checkAccNo" parameterType="bankingVO"
		resultType="bankingVO">
		select balance
		from account
		where acc_pwd = #{ accPwd } and
		acc_no = #{ withdrawAccNo }
	</select>

	<update id="withdraw" parameterType="bankingVO">
		update account
		set balance =
		balance - #{ money }
		where acc_pwd = #{ accPwd } and acc_no = #{
		withdrawAccNo }
	</update>

	<update id="deposit" parameterType="bankingVO">
		update account
		set balance =
		balance + #{ money }
		where acc_no = #{ depositAccNo }
	</update>

	<select id="transHistory" resultMap="transactionMap" parameterType="TransactionVO">
		select acc_no, trans_date, trans_class, memo, withdraw, deposit, balance, opp_acc_no
		from transaction
		where acc_no = #{ accNo } 
				and trans_date between #{ startDate } and #{ endDate }
	</select>
	
	
	<select id="transSum" resultMap="transactionMap" parameterType="TransactionVO">
		select sum(withdraw) as withSum, sum(deposit) as depoSum
		from transaction
		where acc_no = #{ accNo }
	</select>
	
	
	<select id="autodebitList" resultMap="autoDebitMap" parameterType="autoDebitVO">
		select acc_no, category, set_money, start_date, cycle, status
		from autodebit
		where acc_no = #{ accNo } 
	</select>
	
	
	
	<update id="autoDebitExecute">
		update account
		set balance = balance + 1090
	</update>
	
	
</mapper>



